<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Moby Dickens Bookstore</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{'css/normalize.css'}" />
    <link rel="stylesheet" th:href="@{'css/skeleton.css'}" />
    <link rel="stylesheet" th:href="@{'css/main.css'}" />
</head>
<body>

<div th:include="masterpage :: head"></div>

<section>

    <h3 style="color:white">Login</h3>
    <form action="/login" method="post">
        <div class="row" th:if="${param.error}">
            <div class="twelve columns">
                <span style="color:#be92fc;">Invalid user or password</span>
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <label style="color:white">User Name: </label>
            </div>
            <div class="eight columns">
                <input name="username" id="username" />
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <label style="color:white">Password: </label>
            </div>
            <div class="eight columns">
                <input name="userpass" id="userpass" type="password" />
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <button style="color:#42f4eb">Login</button>
            </div>
        </div>


    </form>



</section>

<div th:include="masterpage :: footer"></div>


</body>
</html>