<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Moby Dickens Bookstore</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{'css/normalize.css'}"/>
    <link rel="stylesheet" th:href="@{'css/skeleton.css'}"/>
    <link rel="stylesheet" th:href="@{'css/main.css'}"/>

</head>
<body>

<div th:include="masterpage :: head"></div>

<audio autoplay loop>
    <source src="audio/doyouhearwhatihear.mp3">
</audio>

<section>

    <h4 style ="color:white;">Book Database</h4>
    <!--<table th:if="${showTable}">-->
    <div style="text-align: center;">
        <link><a href="/search"><span style="font-size: x-large;"><button style="color:#42f4eb">Search for Books</button></span></a></link>
    </div>

    <div th:if="${books.size() eq 0}">
        <div class="alert alert-primary" role="alert">
            No books were found in your search.
        </div>
    </div>
    <!--<table th:if="${books.size() ne 0}">-->
    <table>
        <thead style ="color:white;">
        <tr>
            <td ><a style="color: #a4f2b8; font-size: medium;" th:if="${#httpServletRequest.remoteUser}" th:href="@{'/books/add'}">Add a Book</a></td>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Date Published</th>
        </tr>
        </thead>
        <tbody th:unless="${books.size() eq 0}">
        <tr th:each="book : ${books}">
            <td><a style="color: #083d7ath" th:if="${#httpServletRequest.remoteUser}" th:href="@{'/books/edit/' + ${book.bookId}}">Edit</a></td>
            <td><a style="color: #ff9e9e" th:if="${#httpServletRequest.remoteUser}" th:href="@{'/books/delete/' + ${book.bookId}}">Delete</a></td>

            <td><span style="color: #b0e4f2" th:title = "${book.genre}" th:text="${book.bookName}"> </span></td>
            <td  style="color: #ffda91"><p style="display: inline" th:text="${book.author}"></p></td>
            <td  style="color: #639fff"><p style="display: inline"  th:text="${book.ISBN}"></p></td>
            <td  style="color: #3bff00"> $<p style="display: inline" th:text="${book.price}"></p></td>
            <td  style="color: #17c4bb"><p style="display: inline" th:text="${book.date}"></p></td>
        </tr>
        </tbody>

    </table>


</section>

<div th:include="masterpage :: footer"></div>


</body>
</html>